<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/8496074dee.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/public//stylesheets/main.css">
  <link rel="stylesheet" href="/public//stylesheets/list.css">
  <link rel="stylesheet" href="/public//stylesheets/search.css">
  <link rel="shortcut icon" href="/assets/icon/favi.ico">
  <script src="https://unpkg.com/luxon"></script>

  <script>
    window.luxon = luxon;
  </script>
  <title>Say a bunch of words</title>
</head>

<body>
  <%- include('nav.html') %>

    <div id="container">
      <div id="topSection">
        <div id="topSide">
          <div class="search-wrapper">
            <div class="input-holder">
              <input type="text" class="search-input" placeholder="Search a bunch of words!" />
              <button class="search-icon" onclick="searchToggle(this, event);"><span id="searchIcon"></span></button>
            </div>
            <span class="close" onclick="searchToggle(this, event);"></span>
          </div>
        </div>
      </div>
      <div id="mainSection">
        <div id="leftSide"></div>
        <div id="main">
          <div id="listDiv">
            <% const filteredPOST=POST.filter(post=> post.isDeleted === false); %>
              <% const sortedPOST=filteredPOST.sort((a, b)=> b.time.localeCompare(a.time)); %>
                <% for (var i=0; i < sortedPOST.length; i++) { %>
                  <div class="cardlist">
                    <div class="card">
                      <div class="front">
                        <div class="frontImg">
                          <img class="frontImg" src=<%=sortedPOST[i].img %>> </img>
                        </div>
                        <div class="frontText">
                          <div class="writingTime">
                            <% const currentTime=luxon.DateTime.local().toISO(); %>
                              <% const postTime=luxon.DateTime.fromISO(sortedPOST[i].time); %>
                                <% const
                                  duration=luxon.DateTime.fromISO(currentTime).diff(luxon.DateTime.fromISO(postTime));
                                  %>
                                  <% let timeAgo='' ; %>
                                    <% if (duration.as('seconds') < 60) { timeAgo='방금 전' ; } else if
                                      (duration.as('minutes') < 60) { timeAgo=`${Math.floor(duration.as('minutes'))}분
                                      전`; } else if (duration.as('hours') < 24) {
                                      timeAgo=`${Math.floor(duration.as('hours'))}시간 전`; } else if (duration.as('days')
                                      < 7) { timeAgo=`${Math.floor(duration.as('days'))}일 전`; } else if
                                      (duration.as('weeks') < 4) { timeAgo=`${Math.floor(duration.as('weeks'))}주 전`; }
                                      else if (duration.as('months') < 12) {
                                      timeAgo=`${Math.floor(duration.as('months'))}달 전`; } else { timeAgo='오래 전' ; } %>
                                      <span class="writeTime">
                                        <%= timeAgo %>
                                      </span>
                                      <span class="writeTimeHover">
                                        <%= luxon.DateTime.fromISO(sortedPOST[i].time).toFormat('yyyy-MM-dd HH:mm') %>
                                      </span>
                          </div>
                          <div class="frontContent">
                            <h4>
                              <%= sortedPOST[i].title %>
                            </h4>
                          </div>
                          <div class="writer">
                            <span>
                              <%= sortedPOST[i].writer %>
                            </span>
                            <% const user=USER.find(u=> u.nickname === sortedPOST[i].writer); %>
                              <% if (user) { %>
                                <img src=<%=user.profileImg %>>
                                <% } %>
                          </div>
                        </div>
                      </div>
                      <div class="back">
                        <div class="backContent">
                          <span>
                            <%= sortedPOST[i].content %>
                          </span>
                        </div>
                        <div class="backBtnBundle">
                          <i class="fa-regular fa-comment-dots backBtnComment" data-id="<%= sortedPOST[i]._id %>"
                            style="color: #ececec;"></i>
                          <% const likePosts=cUSER.likePosts.includes(sortedPOST[i]._id); %>
                            <% if (likePosts) { %>
                              <i class="fa-solid fa-heart backBtnHeart" data-id="<%= sortedPOST[i]._id %>"
                                style="color: #FE5F55"></i>
                              <% } else if (!likePosts) { %>
                                <i class="fa-regular fa-heart backBtnHeart" data-id="<%= sortedPOST[i]._id %>"
                                  style="color: #ececec;"></i>
                                <% } %>
                                  <% const bookmarkPosts=cUSER.bookmarkPosts.includes(sortedPOST[i]._id); %>
                                    <% if (bookmarkPosts) { %>
                                      <i class="fa-solid fa-bookmark backBtnBookmark" data-id="<%= sortedPOST[i]._id %>"
                                        style="color: #ececec;"></i>
                                      <% } else if (!bookmarkPosts) { %>
                                        <i class="fa-regular fa-bookmark backBtnBookmark"
                                          data-id="<%= sortedPOST[i]._id %>" style="color: #ececec;"></i>
                                        <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
          </div>
        </div>
        <div id="rightSide"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="/public/javascripts/mainList.js"></script>
    <script src="/public/javascripts/search.js"></script>
</body>

</html>